
#moment{
	background: #FFEFD5;
	animation: upDown 2s ease-in 0s infinite reverse;
}
#name {
	font-size: 50px;
	margin-top: 60px;
}
@keyframes upDown{
	from {background-color: red;}
    to {background-color: yellow;}
}
#invest{
	font-size: 25px;
}
#info{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about :hover{
	color: red;
}
.achieve :hover{
	color: red;
}
 #main{
 	display: flex;
 	flex-direction: column;
 	margin-left: 100px;
 	align-items: center;
 	justify-content: space-between;
  }
.image{
	margin-right: 150px;
	margin-top: 100px;
	}
.overlay {
  position: absolute;
  top: 106px;
  bottom: 0;
  left: 881;
  right: 150px;
  height: 552px;
  width: 400px;
  opacity: 0;
  transition: 1s ease;
  background-color: #CD712B;
}

.image:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#main:hover #name{
	opacity: 0.5;
	color: green;
}


#moment{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#content{
	background-color: pink;
	display: flex;
	flex-direction: column;

}
#head{
	margin-left: 0px;
	margin-bottom: 40px;
	font-size: 45px;
	color: red;
	padding:35px 115px;
	background: orange;
	
}
#info:hover .about {
	color: red;
}
#info:hover .achieve{
	color: red;
}
#head:hover{
	color: blue;
}
.ab{
	position: fixed;
}
.back{
	margin-left: 1000px;
	margin-top: 20px;
}
#body{
	font-size: 35px;
	margin-bottom: 100px;
	margin-right: 120px;
	margin-left: 120px;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#detail{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: #808000;
}
#top{
	background: green;
	padding-top: 5px;
}
.topic:hover{
	color: purple;
	opacity: 0.5;
	transition: 1s ease;
}
.topic{
	margin-left: 100px;
	margin-bottom: 40px;
	font-size: 45px;
	color: blue;
}
.back{
	font-size: 30px;
	margin-left: 1200px;
}
#what{
	margin-top: 100px;
	font-size: 25px;
	margin-left: 35px;
}
#end{
	margin-top: 100px;
	display: flex;
	justify-content: flex-end;
	margin-right: 35px;
	font-size: 35px;
	margin-bottom: 20px;
	color: red;
}























